# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Visual Studio / IDEs
.vscode/
.idea/

# Recorded sessions (keep structure C, IA, II, IR in Git, ignore video contents)
grabaciones/*
!grabaciones/C/
!grabaciones/IA/
!grabaciones/II/
!grabaciones/IR/
grabaciones/C/*
!grabaciones/C/.gitkeep
grabaciones/IA/*
!grabaciones/IA/.gitkeep
grabaciones/II/*
!grabaciones/II/.gitkeep
grabaciones/IR/*
!grabaciones/IR/.gitkeep

*.avi
*.mkv
*.mp4
*.csv

# OS generated
.DS_Store
Thumbs.db
